$text: #808080;

main.notFound{
    margin-top: 25vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    i{
        color: $text;
        font-size: 64px;
    }
    p{
        color: $text;
        max-width: 210px;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
    }
}
@media (max-width:650px){
    main.notFound{
        margin-top: 20vh;
    }
}
