$background:#E5E5E5;
main{
    background-color: $background;
    display: flex;justify-content: center;
    .searchResult {
        width: 100%;
        max-width: 1350px;
        display: flex;
        justify-content: space-between;
        padding: 40px 4vw 20px;
    }
}

@media (max-width:650px){
    .searchResult{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}