* {
    font-family: 'Inter';
    font-style: normal;
}
.App{
    max-width: 1350px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #E5E5E5;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}
